# One can use `openssl rand -hex 32` to generate ...SECRETs

# For creating/signing JWT access tokens:
JWT_ACCESS_SECRET='SEKRIT'
# and refresh tokens:
JWT_REFRESH_SECRET='a different SEKRIT'

# Token durations, in minutes:
# These are optional.  If they aren't defined, the server
# will use hardcoded default values.
JWT_ACCESS_DURATION=1
JWT_REFRESH_DURATION=240

# Administrative account's unencrypted credentials:
ADMIN_USERNAME='admin'
ADMIN_PASSWORD='shhh!'

# Where to find the user account database.
USER_DB_PATH='./data/internal/users.db'

#-----------------------------------------------------------------------
# Outbound email server
SMTP_SERVER='smtp.gmail.com'
# Port on which to connect to server.  Port 465 is for SSL.
SMTP_PORT=465

# Authenticate to the server with this username.
# All outbound messages will be From: this address.
EMAIL_USERNAME=catperson@gmail.com
# and this password
EMAIL_PASSWORD='I have a secret'

# Addresses to which to send all new intake records --
# format as a comma-separated string
SURRENDER_EMAIL_RECIPIENTS='recipient1@fnf.org,recipient2@fnf.org'